.card {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-height: 30vh;
    max-width: 50vw;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    flex-grow: 1;
    padding: 10px;
}

.card-img {
    height: 200px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}