{% extends 'main/base.html' %}

{% block title %}
Курсы для ЕГЭ
{% endblock %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'main/css/display_courses.css' %}">
</head>
<body>
    <div class="container">
        <h2>Курсы для подготовки к ЕГЭ</h2>
        <div class="d-flex justify-content-center">
            <ul class="list-group" style="list-style: none;">
                {% for course in courses %}
                {% if course.category == 'ege' %}
                <li class="list-group-item-md4 mb-4">
                    <div class="card">
                        <div class="col-md4">
                            <img src="{{ course.image.url }}" class="img-fluid" alt="{{ course.title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text">{{ course.description|truncatechars:150 }}</p>
                                <a href="{% url 'course_details' course.id %}" class="btn btn-primary">Подробнее</a>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'course_subscription' course.id %}" class="btn btn-primary">Добавить в мои курсы</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock %}