{% extends 'main/course_base.html' %}

{% block content %}
<body>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Имя пользователя</th>
          <th>Email</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="{% url 'edit_user' user.id %}" class="btn btn-primary">Изменить пароль</a>
            <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'user_subscriptions' user.id %}" class="btn btn-info">Подписки</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}
