{% extends 'main/base.html' %}
{% block bodyid %}
id="main"
{% endblock %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <title>Registration</title>
</head>
<body>
    <!-- так проще */ -->
    <div class="login-container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Регистрация">
        </form>
        <p>Уже зарегистрированы? <a href="{% url 'login' %}">Авторизация</a></p>
    </div>
</body>
</html>
{% endblock %}